body {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: dark-gray;
  color: gray;
  font-family: Roboto;
  padding: 10px;
}
#serviceContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: start;
  justify-content: space-around;
  justify-items: start;
  flex-grow: 0;
  flex-wrap: wrap;
  padding: 2%;
  margin: 1%;
  border: solid;
  border-radius: 10px;
  border-color: gray;
  text-justify: auto;
  width: 90%;
}
.serviceButton {
  display: flex;
  flex-grow: 3;
  overflow: hidden;
  padding: 2%;
  margin: 2%;
  border: solid;
  border-radius: 10px;
  border-color: gray;
  max-width: 5rem;
  max-height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  text-justify: center;
  align-items: center;
  flex-direction: column;
}
.serviceButton:hover {
  background: lightgray;
  color: darkgray;
}
.serviceIcon {
  display: flex;
  flex-grow: 3;
  margin: 5%;
  width: 60%;
  aspect-ratio: 1;
}
