:root {
    --red : #f38ba8;
    --green: #a6e3a1;
    --yellow: #f9e2af;
    --peach: #fab387;
    --teal: #94e2d5;
    --lavender: #b4befe;
    --mauve: #cba6f7;
    --text: #cdd6f4;
    --overlay0: #6c7086;
    --base: #1e1e2e;
    --crust: #11111b;
}
window#waybar{all:unset;}
* {
    font-size:15px;
    font-family: "VictorMono Nerd Font Mono";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(var(--mauve),.6);
}
.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(var(--mauve),.6);
}
.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(var(--mauve),.6);
}
#clock:hover, #bluetooth:hover, #network:hover, #battery:hover {
    transition: all .3s ease;
    color:var(--mauve);
}
#clock{
    padding: 0px 5px;
    color:var(--mauve);
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(var(--text),.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(--crust,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: var(--green);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(--crust,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(--crust,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: var(--green);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:var(--teal);
}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:var(--lavender);
}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:var(--green);
}
#battery.charging {
    color: var(--teal);
}

#battery.warning:not(.charging) {
    color: var(--peach);
}
#battery.critical:not(.charging) {
    color: var(--red);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* #group-expand{ */
/*     padding: 0px 5px; */
/*     transition: all .3s ease;  */
/* } */
/* #custom-expand{ */
/*     padding: 0px 5px; */
/*     color:alpha(@foreground,.2); */
/*     text-shadow: 0px 0px 2px rgba(0, 0, 0, .7); */
/*     transition: all .3s ease;  */
/* } */
/* #custom-expand:hover{ */
/*     color:rgba(255,255,255,.2); */
/*     text-shadow: 0px 0px 2px rgba(255, 255, 255, .5); */
/* } */
/* #custom-colorpicker{ */
/*     padding: 0px 5px; */
/* } */
}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
